PartnerLabs/MIT/WebLab/labserver/www/xml/experimentResult.dtd

<!-- 
Copyright (c) 2005 The Massachusetts Institute of Technology. All rights reserved.
Please see license.txt in top level directory for full license. 
-->

<!ELEMENT experimentResult (temp?, datavector+)>
<!ELEMENT temp (#PCDATA)>
<!ELEMENT datavector (#PCDATA)>
<!ATTLIST experimentResult	lab			CDATA	#REQUIRED
							specversion	CDATA	#REQUIRED>
<!ATTLIST temp				units		CDATA	#REQUIRED>
<!ATTLIST datavector		name		CDATA	#REQUIRED
							units		CDATA	#REQUIRED>
